[submodule "pkgs/slime"]
	path = pkgs/slime
	url = https://github.com/nablaone/slime.git
[submodule "pkgs/midje-mode"]
	path = pkgs/midje-mode
	url = https://github.com/dnaumov/midje-mode.git
[submodule "pkgs/shen-mode"]
	path = pkgs/shen-mode
	url = git://github.com/eschulte/shen-mode.git
